{{#each options as |option|}}

  <div class="px-4">
    <div class="field field--not-empty">
      <div class="field__label">{{option.label}}</div>
      <div class="field__data">
        <div class="field__value">
          {{toolbox-selector possibleUnits=option.possible selectedUnits=option.selected
          expanded=option.expanded
          singleSelect=option.singleSelect
          required=option.required
          readOnly=option.readOnly
          updateSelection=(action "pickOption" option)}}
        </div>
      </div>
    </div>
  </div>

{{/each}}