@font-face {
    font-family: 'tenforce';
    src: url("https://tenforce.github.io/tracker-mockup/assets/fonts/tenforce.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Source Sans Pro', 'tenforce', Arial, sans-serif;
    font-kerning: normal;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-feature-settings: "kern" 1,"liga" 0;
    font-feature-settings: "kern" 1,"liga" 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: white;
}

.tabs-nav ul{
    overflow-x: hidden;
}

.tabs-nav__slideShadow {
    pointer-events: inherit;
}

.overlay-body {
    display: block !important;
}

.modal {
    background-color: white;
}

.trigger {
    display: inline-block;
}