<div class="px-4">
  <div class="field field--not-empty">
    <div class="field__label">{{label}}</div>
    <div class="field__data">
      <div class="field__value">
        {{yield}}
      </div>
    </div>
  </div>
</div>