{{#if (or escapedStyle prefix)}}
  <div class="selector__blockPart selector__blockPart--prefix" style={{if escapedStyle escapedStyle}}>{{{prefix}}}</div>
{{/if}}

{{#if label}}
  <div class="selector__blockPart selector__blockPart--label">
    {{{label}}}
  </div>
{{/if}}

{{#if field}}
  {{#if label}}
    <div class="selector__blockSeperator"></div>
  {{/if}}

  <div class="selector__blockPart selector__blockPart--field">{{{field}}}</div>
{{/if}}
